.form-control:focus, select:focus{
width: 20%;
height: 25px;
border: rgba(9, 99, 99, 0.2) 0px 2px 8px 4px;
border-radius: 3px;
box-shadow: rgba(9, 99, 99, 0.2) 0px 2px 8px 4px;
background-color: white;
}
body{
   
    font-family: 'Lato',sans-serif;
}
select{
width: 20%;
height: 25px; 
border: rgba(9, 99, 99, 0.2) 0px 2px 8px 4px;
border-radius: 3px;
box-shadow: rgba(9, 99, 99, 0.2) 0px 2px 8px 4px;

}
.title{
    font-size: 13px;
    font-weight: 600;
    margin: 6px  0px;
}
.form-fields{
    margin-bottom: 23px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="month"], input[type="reset"], input[type="submit"], input[type="option"]{
    font-family: 'Lato', sans-serif;
    padding: 0px 14px;
}

.btn{
    width: 20%;
    height: 35px;
    margin-right: 15px;
    background-color: blueviolet;
    border: none;
    border-radius:4px ;
    color: white;
}